.profile__status {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__status {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
  }
}