.popup__error {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FF0000;
  visibility: hidden;
  height: 30px;
  box-sizing: border-box;
  display: block;
  padding: 0;

}
@media screen and (max-width: 767px) {
  .popup__error {
    max-width: 238px;
  }
}