.place__button-delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top:20px;
    right: 20px;
}
.place__button-delete:hover {
    opacity: 0.6;
}