.profile__info {
  max-width: 336px;
  margin:22px 0 25px 30px ;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    margin:22px auto 0;
    justify-content: center;
  }
}