.footer {
  max-width: 880px;
  margin: 67px 0 60px;
}

@media screen and (max-width: 899px) {
  .footer{
    max-width: 750px;
    margin: 60px auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
  }
}