.element {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 899px) {
  .element {
    grid-template-columns: repeat(3, 238px);
  }
}

@media screen and (max-width: 767px) {
  .element {
    grid-template-columns: 1fr;
  }
}