.popup__title {
  max-width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  padding: 34px 64px 0 36px;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .popup__title{
    max-width: 238px;
    font-size: 18px;
    line-height: 21.78px;
    padding: 25px 22px 0;
  }
}